body {
  background-color: #DAE3E3;
}

header {
  font-family: cursive;
  color: #DC5119;
  }

h1 {
  font-family:cursive;
  color: #DC5119;
}

h2 {
  font-family:cursive;
  color: #045952;
}

ul {
  font-family: cursive;
  background-color: #a7bdbd;
}

p {
  font-family:serif;
  color:#616767;
}

form {
  color:#616767;
  background-color:#0F9294;
}

section {
  font-family: serif;
  color: #DC5119;
}

a {
  color: white;
  background-color: #7e9e9e;
}
